* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #E1E1E6;

  --bg-color: #000000;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  
}

body * {
  font-family: var(--ff-primary);
  color: var(--text-color);
}

#app {
  max-width: 112rem;
  margin: 0 auto;
  padding: 11.5rem 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 8.7rem;
}

.search {
  display: flex;
  gap: .8rem;
  align-items: center;
}

.search input {
  font-weight: 400;

  padding: 1.6rem;
  width: 46.2rem;
  background-color: #06181C;
  border: none;
  border-radius: .5rem;
}

.search button {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: .8rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #065E7C;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.search button:hover {
  background-color: #044a61;
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem .1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 2rem;
  line-height: 160%;
}

.table-wrapper{
  border-radius: 1.2rem;
  border: 1px solid #4A808C;
  overflow: hidden;
}

table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.6rem 0rem 1.6rem 4rem;
  
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr {
  background-color: rgba(6, 24, 28, 100%);
  border-top: 1px solid #4A808C;
}

table tr:nth-child(odd) {
  background-color: rgba(6, 22, 27, 50%);
}

table td {
  padding: 2.4rem 0rem 2.4rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem; 
}

td.user img {
  width: 8rem;
  height: 8rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;
  cursor: pointer;

  color: #F75A68;
}